Flask
itsdangerous
Jinja2
Werkzeug
opencv-python
opencv-contrib-python
numpy
mediapipe
imutils
fer
moviepy
matplotlib
pillow
scikit-learn
tensorflow
h5py
facenet-pytorch
requests
pandas
python-dotenv
protobuf
scipy
torch
torchvision
tqdm
